<!--parent html file which is going to be inherited by login.html, welcome.html and index.html-->
<!DOCTYPE html>
<html>
	<head>
	  <title>THIS IS A TEST</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link herf="static/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body>

	  <div class="container">

	  	<!--child template-->
	  	{% block content %}{% endblock %}

	  	<!-- error -->
	  	{%if error %}
	  	  <p class="error"><strong>Error:</strong>{{ error }}</p>
	  	{%endif%}

	  	<!--messages-->
	  	{% for message in get_flashed_messages() %}
	  	  {{ message }}
	  	{% endfor %}

	  </div>
	</body>
</html>