{% extends "base.html" %}
{% block content %}
<h1>Change Password</h1>
<br>
<form action="" method="post">
<input type="text" placeholder="Username" name="username" value="{{
request.form.username}}" required>
<input type="password" placeholder="Old Password" name="old_password" value="{{
request.form.old_password}}" required>
<input type="password" placeholder="New Password" name="new_password" value="{{
request.form.new_password}}" required>
<input class="btn btn-default" type="submit" value="Reset">
<BR>
<a href="/">click to get back to index!</a>
</form>
{% endblock %}

